<div class="max-w-auto mx-auto bg-white rounded-lg shadow-md overflow-hidden">
    <div class="bg-red-900 w-auto p-2">
        <h6 class="text-x3 font-bold text-white">LCA</h6>
    </div>    
    <div class="p-4 bg-gray-100">
        <table class="table-auto text-gray-600 mb-2">
            <tbody>
              <tr>
                <td>Indexador</td>
                <td>IPCA</td>
              </tr>
              <tr>
                <td>Taxa</td>
                <td >5,0%</td>
              </tr>
              <tr>
                <td>Banco</td>
                <td>Santander</td>
              </tr>
              <tr>
                <td>Preço</td>
                <td>R$ 854,20</td>
              </tr>
              <tr>
                <td>Estoque</td>
                <td>100</td>
              </tr>
            </tbody>
          </table>
      
      <div class="mt-4">
        <button class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded inline-flex items-center">
            Comprar
          </button>
          
      </div>
      <app-quantity-input></app-quantity-input>
    </div>
</div>  