<app-navbar></app-navbar>
<body class="flex flex-col min-h-screen">
    <div class="flex-grow p-4">
        <h3 class="text-x3 font-semibold text-gray-800">Investir em Renda Fixa</h3>
        <p class="mt-2 text-gray-600">Os investimentos em renda fixa são uma opção popular para investidores que buscam segurança e previsibilidade, a renda fixa oferece um fluxo de rendimento mais estável e previsível, tornando-a uma escolha atraente, especialmente em tempos de incerteza econômica.</p>
        <div class="p-3">
            <app-card></app-card>

        </div>
    </div>
</body>
<app-footer></app-footer>