<app-navbar></app-navbar>
<body class="flex flex-col min-h-screen">
    <div class="flex-grow p-4">
        <h3 class="text-x3 font-semibold text-gray-800">Investir</h3>
        <div class="flex justify-between p-4">
            <div class="w-8/12">
                <h5 class="text-x3 font-semibold text-gray-800">Produtos de Renda Fixa</h5>
                <p class="mt-2 text-gray-600">Os investimentos em renda fixa são seguros e oferece um fluxo de rendimento mais estável e previsível.</p>
            </div>
            <app-eye-button-disponivel></app-eye-button-disponivel>
        </div>
        <app-card></app-card>
        <app-card></app-card>
    </div>
</body>
<app-footer></app-footer>